html
    head
        title= "Search"
        style.
            #map {
                height: 75%;
                width: 100%;
            }
    body
        h1= "TwittTrends"
        h4= "Sentiment representation: green stands for positive, blue stands for neutral, red stands for negative"
        button#startStream(type='button') Start Stream
        button#endStream(type='button') End Stream
        form
            select#select(name="selection")
                option(value="the") the
                option(value="hate") hate
                option(value="love") love
                option(value="storm") storm
                option(value="live") live
                option(value="like") like
                option(value="music") music
                option(value="whatever") whatever
                option(value="weather") weather
                option(value="sad") sad
            input#search(type="button" value="Search")
            hr
        div(id="map")

        each script in scripts
            script(type='text/javascript', src=script)
        script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYAXFUzdidNb5J_EnXz9Pa6Jbsedt6FdM&callback=initMap")
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")